@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_LayoutMini.cshtml";
}

<h2>Services</h2>

<p>
All services include ongoing supplementary motivational support through weekly
newsletters, social media, and regular personal contact with clients outside their
training sessions, and through a range of client events and activities throughout the
year, such as group workouts, breakfasts and the annual client photo shoot.
</p>

<p>
Ok, so maybe you’re interested in working with a personal trainer but you have no
idea where to begin or what your goals you have other than to loose weight and feel
great; here are some inspirational ideas to get you started:
</p>

<h3>Sport-Specific Training</h3>
<p>
Maybe you want to run your first marathon, or bike your
first century, or perhaps you play tennis and want to focus on your speed, agility and
quickness. Through my individualized, integrated approach, I can help you meet
any sport-related goal! And remember, “a journey of a thousand miles, begins with
one step!”
</p>

<h3>Personalized Training for Weight Loss</h3>
<p>
Perhaps you already belong to a gym
and you work out, perhaps you work out A LOT, and you eat pretty healthy, but you
seemed to have reached a plateau in your weight-loss goals and not much has been
changing. The combination of personalized training and nutritional support can
help you break through that barrier and finally meet those weight-loss goals and
make you feel comfortable in your own skin.
</p>


<h3>Program Design Consults</h3>
<p>
Ok, so perhaps you travel a great deal for work and
most of your workouts involve your hotel gym and you’re just not seeing the
adaptations you were hoping for. No problem. After doing an initial assessment,
and looking at your goals, we can create a periodized fitness plan that enables you
to ..... so no matter where you are, you can feel confident that you are meeting your
fitness goals one workout at a time. Have a question about your program? Call me!
</p>

<h3>Corrective Fitness</h3>
<p>
Corrective fitness programing is perfect for those who have
just been cleared by their physician and their physical therapist to return to their
sport or regular fitness routine following an injury. This personalized training
routine will supplement the corrective exercises prescribed by your physical
therapists and bridge the gap between your physical therapy workouts and your
usual workout routine.
</p>

<h3>Group Fitness Events</h3>
<p>
During the Spring and Summer months, (business name)
sponsors group fitness events in and around the various parks of Brookline, Boston
and along the Charles river. For $10, you get out in the fresh air, meet new people
and you make Boston your gym! Click on the “events” link to see this month’s
calendar of events.
</p>