@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_LayoutMini.cshtml";
}

<h2>@ViewBag.Title</h2>






<p>All services include ongoing supplementary motivational support through weekly newsletters, social media activities, and regular personal contact with clients outside of their training sessions. A range of events and client activities are offered throughout the year, including group workouts, breakfasts and the annual client photoshoot.</p>
<p>If you’re interested in working with a personal trainer but you have no idea where to begin and just want to lose weight and feel great; here are some inspirational ideas to get you started:</p>

<h3>Sport-Specific Training</h3>
<p>Running your first marathon, biking your first century, participating in your 10th Triathlon, or joining a local tennis club are all attainable goals with the correct focus on speed, agility and quickness. Through an individualized, integrated approach to training, Amory Fitness can help you meet any sport-related goal!</p>

<h3>Personalized Training for Weight Loss</h3>
<div>Maybe you already belong to a gym and you work out; perhaps you work out A LOT. You eat healthy, but you feel that your weight-loss goals have plateaued and not much is changing. The combination of personalized training and nutritional support can help you break through that barrier and finally meet your weight-loss goals and make you feel comfortable in your own skin.</div>

<h3>Program Design & Consultation</h3>
<p>Do you travel frequently? No time for one-on-one sessions? If your only regular fitness opportunity is at the hotel or office gym, a program consultation can help get you back on track. After doing an initial assessment, and looking at your goals, we can create a periodized fitness plan that enables you to work up to your desired fitness level on your own time, wherever you may be.</p>

<h3>Corrective Fitness</h3>
<p>If you are returning to fitness after an injury or if you just want to correct an awkward compensation, Amory Fitness can help you achieve this goal. After being cleared for regular exercise by a physician or physical therapist, we can work together to develop a personalized training program that supplements the corrective exercises prescribed by your physical therapist and bridges the gap between those workouts and your usual workout routine.</p>

<h3>Group Fitness Events</h3>
<p>During the Spring, Summer, and Fall months, Amory Fitness sponsors group fitness events in and around the green spaces of Brookline, Boston, and Cambridge. For $10, you get out in the fresh air, meet new people and you make Boston your gym! Click on the “events” page  to see this month’s calendar of events.</p>
