@{
    ViewBag.Title = "Community";
    ViewBag.Image1 = "/img/bicycle/bike-wall.jpg";
    ViewBag.Image5 = "/img/exercise/elise-and-mayor.jpg";
    Layout = "~/Views/Shared/_LayoutMini.cshtml";
}

<h2 style="font-family:Pacifico, cursive;font-weight:normal;font-size:3em;text-align:center;">@ViewBag.Title</h2>

<div class="row-fluid">
    <div class="span3" style="text-align:right;">
        <h3>Non-profit bike advocacy groups</h3>
    </div>
    <div class="span6">
        <ul>
            <li>MassBike</li>
            <li>H3079, An Act To Protect Vulnerable Road Users</li>
            <li>Hubway</li>
            <li>Boston Bikes</li>
            <li>Livable Streets</li>
            <li>People for Bikes</li>
            <li>Boston Cyclists Union</li>
            <li>The Fenway Alliance</li>
        </ul>
    </div>
</div>


<div class="row-fluid">
    <div class="span3" style="text-align:right;">
        <h3>Cycling blogs</h3>
    </div>
    <div class="span6">
        <ul>
            <li>BikeyFace</li>
            <li>The LovelyBicycle</li>
        </ul>
    </div>
</div>

<div class="row-fluid">
    <div class="span3" style="text-align:right;">
        <h3>Non-profit running organizations</h3>
    </div>
    <div class="span6">
        <ul>
            <li>Boston Athletic Association</li>
            <li>B&E Fitness</li>
        </ul>
    </div>
</div>

<div class="row-fluid">
    <div class="span3" style="text-align:right;">
        <h3>Local sports businesses</h3>
    </div>
    <div class="span6">
        <ul>
            <li>Harris Cyclery</li>
            <li>Marathon Sports</li>
            <li>Heart Break Hill Running Co.</li>
        </ul>
    </div>
</div>
 


