@{
    ViewBag.Title = "Community";
    Layout = "~/Views/Shared/_LayoutMini.cshtml";
}

<h2>@ViewBag.Title</h2>

<h3>Non-profit Bike Advocacy Groups</h3>
<ul>
    <li>MassBike</li>
    <li>H3079, An Act To Protect Vulnerable Road Users</li>
    <li>Hubway</li>
    <li>Boston Bikes</li>
    <li>Livable Streets</li>
    <li>People for Bikes</li>
    <li>Boston Cyclists Union</li>
    <li>The Fenway Alliance</li>
</ul>
 
<h3>The Best Cycle Blogs</h3>
<ul>
    <li>BikeyFace</li>
    <li>The LovelyBicycle</li>
</ul>

<h3>Non-Profit Running Organizations</h3>
<ul>
    <li>Boston Athletic Association</li>
    <li>B&E Fitness</li>
</ul>

<h3>My favorite Sport Retailors</h3>
<ul>
    <li>Harris Cyclery</li>
    <li>Marathon Sports</li>
    <li>Heart Break Hill Running Co.</li>
</ul>