@{
    ViewBag.Title = "Message received";
    Layout = "~/Views/Shared/_LayoutMini.cshtml";
}

<p>Thanks! Someone will respond to you via email as soon as possible.</p>
<p>
    <a href="/">Back</a>
</p>