@{
    ViewBag.Title = "Message received";
    Layout = "~/Views/Shared/_LayoutMini.cshtml";
}

<p>
    <strong>Thanks!</strong> Elise will respond to you via email as soon as possible.
</p>
<p>
    <a class="btn btn-success" href="/">Back</a>
</p>