@{
    ViewBag.Title = "Elise";
    Layout = "~/Views/Shared/_LayoutFull.cshtml";
}

<div class="row-fluid">
    <div class="span2">
        <div style="border:1px solid #383838;padding:1px;float:left;margin:0 1em 1em 0;">
            <img src="/img/elise.jpg" style="width:100%; height:auto;">
        </div>
    </div>
    <div class="span9">
        <h2 style="font-weight:normal;">Meet Elise <small title="Certified Personal Trainer">cpt</small></h2>
        <p>Elise Couture-Stone is a certified personal trainer and the Director of Fitness and Advocacy Programming. Elise studied women’s history at the University of North Carolina at Chapel Hill and earned her CPT accreditation through the National Academy of Sports Medicine.  After gaining immeasurable experience working in nonprofit world, Elise founded Amory Fitness combining her lifelong love of sport training and community advocacy work.  Elise specializes in weight-loss management, sport-specific training, and corrective exercise.</p>
    </div>
</div>

<div class="row-fluid" style="margin-top:1em;">
    <div class="offset2 span9">
        <h2 style="font-weight:normal;">Mission</h2>
        <p>Amory Fitness seeks to empower Bostonians to live longer, stronger and healthier lives through fitness education, advocacy work, and physical training. We believe that not all fitness goals have to be achieved in a gym. We work daily with individuals and non-profit organizations to integrate Boston's communal green spaces with our clients' health and fitness related objectives.</p>
        <p>As a continued part of this effort, Amory Fitness supports public policies that engage the concept of "livable streets". We believe that the safety of cyclists, runners and pedestrians is essential to achieving a healthy and fit community. Through our public and private partners, we seek to establish Boston as a world class cycling community--one that will attract the next generation of health-conscious, innovation-minded individuals who will become a driving force in the local economy.</p>
        <p>This combination of structured fitness programs with community engagement sets Amory Fitness apart from the everyday world of gym fitness.</p>
    </div>
</div>

<ul class="unstyled" style="border: 1px solid #eee;overflow: auto;width:100%;margin:3em auto;padding:0;">
    <li style="float:left;width:33.3%;">
        <div style="margin:auto;width:90%;">
            <img src="/img/endurance.jpg" style="width:100%;height:auto;" alt="">
            <h3>Endurance</h3>
        </div>
    </li>
    <li style="float:left;width:33.3%;">
        <div style="margin:auto;width:90%;">
            <img src="/img/strength.jpg" style="width:100%;height:auto;" alt="">
            <h3>Strength</h3>
        </div>
    </li>
    <li style="float:left;width:33.3%;">
        <div style="margin:auto;width:90%;">
            <img src="/img/nutrition.jpg" style="width:100%;height:auto;" alt="">
            <h3>Nutrition</h3>
        </div>
    </li>
</ul>