@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutFull.cshtml";
}

<div style="margin-left:-150px;border:1px solid #383838;padding:1px;float:left;">
    <img src="/img/elise.jpg" style="width:125px; height:125px;">
</div>
        
<h1 style="margin:0;">Meet Elise <small title="Certified Personal Trainer">cpt</small></h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vestibulum ipsum vitae est auctor imperdiet sollicitudin purus consequat. Quisque sit amet libero magna, a hendrerit nulla. Aliquam pulvinar lacus sit amet metus imperdiet vel bibendum augue pretium. Etiam semper nisl quis arcu eleifend lacinia. Proin eu neque fermentum lectus semper auctor. Mauris eros massa, fringilla tristique adipiscing ac, accumsan id felis. Aenean varius fermentum nulla, nec iaculis sem fermentum et. Suspendisse ipsum orci, lacinia id congue luctus, consectetur et quam.</p>
<p>Etiam posuere elit eu arcu fringilla bibendum. Proin a neque blandit nunc egestas tempor aliquet vel mauris. Curabitur vel nibh in turpis ultrices mollis ut eget turpis. Praesent at tempus elit. Donec facilisis aliquet rhoncus. Donec condimentum venenatis suscipit. Nam et augue et neque ullamcorper faucibus. Donec magna ligula, ultricies a ullamcorper non, feugiat et tortor. Duis nisi lorem, facilisis id pharetra quis, consequat eu tortor. Vivamus gravida, nibh vel scelerisque porttitor, orci massa fermentum felis, eget placerat justo tortor sed elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi porttitor commodo orci at euismod.</p>
<p>Praesent in mauris ipsum, ut commodo metus. Etiam vehicula arcu quis sapien interdum auctor. Nam gravida accumsan ornare. Cras in neque nibh, non convallis purus. Vestibulum tincidunt turpis sit amet diam adipiscing a gravida nibh sagittis. Aenean ac ultrices tortor. In lorem justo, venenatis in vehicula eget, dapibus ac velit.</p>

<style type="text/css">
</style>

<ul class="unstyled" style="border: 1px solid #eee;overflow: auto;width: 100%;margin-top:2em;">
    <li style="float:left;width:33%;">
        <div style="float:left;padding-left:10%;">
            <img src="/img/endurance.jpg" style="width:225px;height:200px" alt="">
            <h3>Endurance</h3>
            <p>Stuff stuff stuff</p>
        </div>
    </li>
    <li style="float:left;width:33%;">
        <div style="float:left;padding-left:10%;">
            <img src="/img/strength.jpg" style="width:225px;height:200px" alt="">
            <h3>Strength</h3>
            <p>Stuff stuff stuff</p>
        </div>
    </li>
    <li style="float:left;width:33%;">
        <div style="float:left;padding-left:10%;">
            <img src="/img/nutrition.jpg" style="width:225px;height:200px" alt="">
            <h3>Nutrition</h3>
            <p>Stuff stuff stuff</p>
        </div>
    </li>
</ul>