@model dynamic

@{
    ViewBag.Title = "Pedal";
    Layout = "~/Views/Shared/_LayoutMini.cshtml";
}

<h2 style="font-family:Pacifico, cursive;font-weight:normal;font-size:3em;text-align:center;">@ViewBag.Title</h2>

@foreach (var post in Model)
{
<!--    <div>@post.id</div>-->
}