@model dynamic

@{
    ViewBag.Title = "Pedal";
    ViewBag.Image1 = "/img/bicycle/bike-reflection.jpg";
    ViewBag.Image2 = "/img/bicycle/bike-red-dress.jpg";
    ViewBag.Image3 = "/img/bicycle/bike-basket-purse.jpg";
    ViewBag.Image4 = "/img/bicycle/bike-basket-food.jpg";
    ViewBag.Image5 = "/img/bicycle/gas-ride-your-bike.jpg";
    Layout = "~/Views/Shared/_LayoutMini.cshtml";
}

<h2 style="font-family:Pacifico, cursive;font-weight:normal;font-size:3em;text-align:center;">@ViewBag.Title<br />Coming Soon!</h2>