@model dynamic

@{
    ViewBag.Title = "Pedal";
    ViewBag.Image1 = "/img/pedal/photo 1.JPG";
    ViewBag.Image2 = "/img/pedal/photo 2.JPG";
    ViewBag.Image3 = "/img/pedal/photo 3.JPG";
    ViewBag.Image4 = "/img/pedal/photo 4.JPG";
    ViewBag.Image5 = "/img/pedal/photo 5.JPG";
    Layout = "~/Views/Shared/_LayoutMini.cshtml";
}

<h2 style="font-family:Pacifico, cursive;font-weight:normal;font-size:3em;text-align:center;">@ViewBag.Title<br />Coming Soon!</h2>